@import "variables";

.categories {
  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      background-color: #f9f9f9;
      padding: 0.7rem 1.4rem;
      border-radius: 4px;
      margin-right: 0.6rem;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #221805;
        color: #fff;
      }
    }
  }
}
