@import "../variables";
.steps {
  padding: 3rem 0;
  &__inner {
    display: flex;
    flex-wrap: wrap;
  }
  &__title {
    margin-bottom: 3rem;
    h2 {
      margin: 0;
      display: flex;
      align-items: center;
      font-size: 2rem;
      &::before {
        content: "";
        background: url(../../assets/img/pie.png) no-repeat;
        width: 125px;
        height: 125px;
        background-size: contain;
        display: flex;
        margin: 0 2rem;
      }
    }
  }
  &__item {
    padding: 1rem 1rem 0 2rem;
    position: relative;
    z-index: 1;
    h2 {
      margin-bottom: 1rem;
      color: darken($orange, 25);
    }
    p {
      color: $black;
      font-size: 1.1rem;
      font-weight: 600;
    }
    &::before {
      content: "";
      display: flex;
      font-size: 10rem;
      position: absolute;
      left: -1rem;
      top: 0;
      font-weight: 400;
      line-height: 70%;
      z-index: -1;
      color: lighten($orange, 25);
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    }
    &:nth-child(2)::before {
      content: "1";
    }
    &:nth-child(3)::before {
      content: "2";
    }
    &:nth-child(4)::before {
      content: "3";
    }
    &:nth-child(5)::before {
      content: "4";
    }
  }
  &__time {
    text-align: center;
    color: $orange;
  }
}
